:root {
  --primary-color: #fff;
  --seecondary-color: #323232;
  --seecondary-lighten-color: #5a5a5a;
  --page-background-green: #849d8f;
  --page-background-blue: #8996a6;
  --page-background-beige: #9d8b84;
  --small-element-background: #231f20;
  --cart-stroke: #343434;
  --active-link-contrast: #e84d37;
  --active-link-pale: #ffbc9e;
  --goodsremoving-cross-color: #2c2829;
  --hover-menu-item-background: #fbded7;
  --active-menu-item-background: #f6b5a5;
  --currentpage-menu-item-background: #d07058;
  --placeholder-color: #999;
  --semitransparent-color: rgba(255, 255, 255, 0.2);
}

/* /////////////////////////////// */

/* ШРИФТЫ */

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* /////////////////////// */

/* ОБЩИЕ СТИЛИ */

body {
  box-sizing: border-box;
  font-family: "robotobold", "Arial", sans-serif;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
}

.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px #ac1000;
  border-radius: 70px;
}

.btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
  border-radius: 70px;
}

.list {
  list-style: none;
  padding: 0;
}

/* /////////////////////////// */

/* ВСПОМОГАТЕЛЬНЫЕ СТИЛИ */

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* ///////////////////////////////// */

/* СТИЛИ БЛОКОВ */

/* .page-container */

.page-container--first-slide {
  background-color: var(--page-background-green);
}

.page-container--second-slide {
  background-color: var(--page-background-blue);
}

.page-container--third-slide {
  background-color: var(--page-background-beige);
}

.page-container--catalog {
  background-color: var(--page-background-green);
}

/* page-header */

.page-header__logo-pic {
  background-color: var(--placeholder-color);
}

.page-header__search {
  background-color: var(--semitransparent-color);
}

.page-header__authorization-link {
  font-family: "robotomedium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-color);
  background-color: var(--semitransparent-color);
}

.page-header__authorization-link:hover {
  color: var(--seecondary-color);
  background-color: var(--primary-color);
}

.page-header__cart-button {
  font-family: "robotomedium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-color);
  background-color: var(--semitransparent-color);
}

.page-header__cart-button:hover {
  color: var(--seecondary-color);
  background-color: var(--primary-color);
}

.page-header__contacts {
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-color);
}

.page-header__contacts-tel {
  font-size: 22px;
  line-height: 24px;
  color: var(--primary-color);
}

.page-header__contacts-tel:hover,
.page-header__contacts-tel:active {
  color: var(--active-link-pale);
}

/* navigation */

.navigation__item {
  font-size: 16px;
  line-height: 18px;
  color: var(--primary-color);
}

.navigation__item:hover,
.navigation__item:active {
  color: var(--seecondary-color);
  background-color: var(--primary-color);
}

.navigation__item--current {
  font-size: 16px;
  line-height: 18px;
  color: var(--primary-color);
  background-color: var(--currentpage-menu-item-background);
}

/* catalog */

.catalog__dropdown-list {
  background-color: var(--primary-color);
}

.catalog__item {
  font-family: "robotoregular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--seecondary-color);
}

.catalog__item:hover {
  background-color: var(--hover-menu-item-background);
}

.catalog__item:active {
  background-color: var(--active-menu-item-background);
}

.catalog__item--current {
  font-family: "robotoregular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-color);
  background-color: var(--currentpage-menu-item-background);
}

.catalog__item--news {
  font-family: "robotobold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--seecondary-color);
}

/* carousel */

.carousel__caption {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: var(--primary-color);
}

.carousel__purchase-link {
  font-size: 32px;
  line-height: 44px;
  color: var(--primary-color);
}

/* benefits */

.benefits__description {
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-color);
}

.benefits__slogan {
  font-size: 35px;
  line-height: 41px;
  color: var(--primary-color);
}

.benefits__purchase-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-color);
}

/* hits */

.hits__pic {
  background-color: var(--placeholder-color);
}

.hits__price {
  font-size: 45px;
  line-height: 45px;
  color: var(--primary-color);
}

.hits__measure {
  font-size: 30px;
  line-height: 35px;
  color: var(--primary-color);
}

.hits__description-purchase-link {
  font-family: "robotomedium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  color: var(--primary-color);
}

.hits__description-purchase-link:hover,
.hits__description-purchase-link:active {
  color: var(--active-link-pale);
}

.hits__view-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-color);
}

/* features */

.features__intro {
  font-family: "robotomedium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--seecondary-color);
}

.features__feature {
  font-family: "robotoregular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--seecondary-color);
}

/* articles */

.articles__content-caption {
  font-family: "robotomedium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--seecondary-color);
}

.articles__content-link {
  font-family: "robotoregular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: var(--seecondary-color);
}

.articles__content-link:hover,
.articles__content-link:active {
  color: var(--active-link-contrast);
}

/* mailing */

.mailing__intro {
  font-family: "robotoregular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--seecondary-lighten-color);
}

.mailing__submit-button {
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-color);
}

/* contacts */

.contacts__map {
  background-color: var(--placeholder-color);
}

.contacts__paragraph {
  font-family: "robotoregular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--seecondary-color);
}

.contacts__contact-info {
  font-size: 18px;
  line-height: 24px;
  color: var(--seecondary-color);
}

.contacts__contact-info a:hover,
.contacts__contact-info a:active {
  color: var(--active-link-contrast);
}

.contacts__submit-button {
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-color);
}

/* page-footer */

/* social */

.social__link {
  font-size: 0;
}

/* more-information */

.more-information__item {
  font-family: "robotoregular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--primary-color);
}

.more-information__item:hover,
.more-information__item:active {
  color: var(--active-link-pale);
}

.more-information__item--favorite {
  font-family: "robotobold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: var(--primary-color);
}

/* copy */

.copy__info {
  font-family: "robotoregular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--primary-color);
}

.copy__info:hover,
.copy__info:active {
  color: var(--active-link-pale);
}

.copy__pic {
  background-color: var(--placeholder-color);
}
